

/* ==========================================================================
   Fuentes
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400italic,300,300italic);


/* ==========================================================================
   Generales
   ========================================================================== */
	::selection {
	  background: #16ed00; /* WebKit/Blink Browsers */
	}
	::-moz-selection {
	  background: #16ed00; /* Gecko Browsers */
	}
	/*---------------------------------------
		Elementos
	---------------------------------------*/
	body{
		font-family: 'Open Sans', sans-serif;
		background: #000;
		font-weight: 300;
	}
	p{
		font-weight: 300;
		font-size: 1.3em;
		line-height: 1.8em;
		margin-bottom: 30px;
	}

	ol li{

		font-size: 1.3em;
		line-height: 1.8em;
	}
	h1,h2,h3,h4,h5,h6{
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		margin-top: 0;
	}

	h1::before,
	h2::before,
	h3::before,
	h4::before,
	h5::before,
	h6::before,
	.tags::before{
		content:'<';
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		margin-top: 0;

	}
	h1::after,
	h2::after,
	h3::after,
	h4::after,
	h5::after,
	h6::after,
	.tags::after{
		content:'/>';
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		margin-top: 0;

	}

blockquote{
	font-size: 0.9em;
	font-style: italic;

}

	ul{
		margin: 0;
		padding:0;
	}
	ul li{
		list-style: none;
	}
	a{
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	a:hover{
		text-decoration: none;
		color: #345ea8;
	}
	hr{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	hr.divider-morado{
		border-top:3px solid #7034e4;
	}

	.row.sin-paddin {
  	margin-right:0;
  	margin-left:0;
	}
	.row.sin-paddin > [class*='col-']{
		padding-right:0;
  	padding-left:0;
	}
	/*---------------------------------------
		Colores
	---------------------------------------*/
	.bg-negro{
		background: #000000;
	}
	.bg-gris{
		background: #222222;
	}
	.divider{
		border-top:1px solid  #3a3a3a;
	}

	.c-gris{
		color: #222222;
	}

	.bg-blanco{
		background: #fff;
	}
	.c-blanco{
		color: #fff;
	}
	.bg-azul{
		background: #345ea8;
	}
	.c-azul{
		color: #345ea8;
	}
	.bg-morado{
		background: rgba(30,10,85, 0.9);
	}
	.c-morado{
		color: rgba(30,10,85, 0.9);
	}
	.bg-azul-oscuro{
		background:#0d1b42;
	}
	.c-azul-oscuro{
		color:#0d1b42;
	}
	/*---------------------------------------
		Text
	---------------------------------------*/
	.text-center{
		text-align: center;
	}
	.text-left{
		text-align: left;
	}
	.text-right{
		text-align: right;
	}
	.text-undeline{
		text-decoration: underline;
	}

	.text-justify{
		text-align:justify;
	}
	/*---------------------------------------
		Tamaño de fuentes
	---------------------------------------*/
	.f-10{
		font-size: 10px;
	}
		.f-15{
		font-size: 15px;
	}
		.f-20{
		font-size: 20px;
	}
		.f-25{
		font-size: 25px;
	}
		.f-30{
		font-size: 30px;
	}
		.f-35{
		font-size: 35px;
	}
		.f-40{
		font-size: 40px;
	}
		.f-45{
		font-size: 45px;
	}
		.f-50{
		font-size: 50px;
	}
		.f-55{
		font-size: 55px;
	}
		.f-60{
		font-size: 60px;
	}
		.f-65{
		font-size: 65px;
	}
		.f-70{
		font-size: 70px;
	}
		.f-75{
		font-size: 75px;
	}
		.f-80{
		font-size: 80px;
	}
		.f-85{
		font-size: 85px;
	}
		.f-90{
		font-size: 90px;
	}

	/*---------------------------------------
		Posiciones
	---------------------------------------*/
	.p-absolute{
		position: absolute;
	}
	.p-relative{
		position: relative;
	}
	.p-fixed{
		position: fixed;
	}

	/*---------------------------------------
		Display
	---------------------------------------*/
	.d-block{
		display: block;
	}

	.d-inline{
		display: inline-block;
	}

	/*---------------------------------------
		Overflow
	---------------------------------------*/
	.o-hidden{
		overflow: hidden;
	}

	/*---------------------------------------
		Border Radius
	---------------------------------------*/
	.br-2{
		border-radius: 2px;
	}

	.br-5{
		border-radius: 5px;
	}

	.br-10{
		border-radius: 10px;
	}

	.br-20{
		border-radius: 20px;
	}

	.br-25{
		border-radius: 25px;
	}

	/* 2PX */
	.br-t-l-2{
		border-radius: 2px 0px 0px 0px;
		-moz-border-radius: 2px 0px 0px 0px;
		-webkit-border-radius: 2px 0px 0px 0px;
	}
	.br-t-r-2{
		border-radius: 0px 2px 0px 0px;
		-moz-border-radius: 0px 2px 0px 0px;
		-webkit-border-radius: 0px 2px 0px 0px;
	}

	.br-b-l-2{
		border-radius: 2px 0px 0px 0px;
		-moz-border-radius: 2px 0px 0px 0px;
		-webkit-border-radius: 2px 0px 0px 0px;
	}

	.br-b-l-2{
		border-radius:  0px  0px 0px 2px;
		-moz-border-radius:  0px  0px 0px 2px;
		-webkit-border-radius:  0px  0px 0px 2px;
	}

	.br-b-r-2{
		border-radius:  0px 0px 2px 0px;
		-moz-border-radius:  0px 0px 2px 0px;
		-webkit-border-radius:  0px 0px 2px 0px;
	}

	.br-l-t-b-r-2{
		border-radius:  2px 0px 0px 2px;
		-moz-border-radius:  2px 0px 0px 2px;
		-webkit-border-radius:  2px 0px 0px 2px;
	}


	/* 5PX */
	.br-t-l-5{
		border-radius: 5px 0px 0px 0px;
		-moz-border-radius: 5px 0px 0px 0px;
		-webkit-border-radius: 5px 0px 0px 0px;
	}
	.br-t-r-5{
		border-radius: 0px 5px 0px 0px;
		-moz-border-radius: 0px 5px 0px 0px;
		-webkit-border-radius: 0px 5px 0px 0px;
	}

	.br-b-l-5{
		border-radius: 5px 0px 0px 0px;
		-moz-border-radius: 5px 0px 0px 0px;
		-webkit-border-radius: 5px 0px 0px 0px;
	}

	.br-b-l-5{
		border-radius:  0px  0px 0px 5px;
		-moz-border-radius:  0px  0px 0px 5px;
		-webkit-border-radius:  0px  0px 0px 5px;
	}

	.br-b-r-5{
		border-radius:  0px 0px 5px 0px;
		-moz-border-radius:  0px 0px 5px 0px;
		-webkit-border-radius:  0px 0px 5px 0px;
	}

	/* 10PX */
	.br-t-l-10{
		border-radius: 10px 0px 0px 0px;
		-moz-border-radius: 10px 0px 0px 0px;
		-webkit-border-radius: 10px 0px 0px 0px;
	}
	.br-t-r-10{
		border-radius: 0px 10px 0px 0px;
		-moz-border-radius: 0px 10px 0px 0px;
		-webkit-border-radius: 0px 10px 0px 0px;
	}

	.br-b-l-10{
		border-radius: 10px 0px 0px 0px;
		-moz-border-radius: 10px 0px 0px 0px;
		-webkit-border-radius: 10px 0px 0px 0px;
	}

	.br-b-l-10{
		border-radius:  0px  0px 0px 10px;
		-moz-border-radius:  0px  0px 0px 10px;
		-webkit-border-radius:  0px  0px 0px 10px;
	}

	.br-b-r-10{
		border-radius:  0px 0px 10px 0px;
		-moz-border-radius:  0px 0px 10px 0px;
		-webkit-border-radius:  0px 0px 10px 0px;
	}


	/* 20PX */
	.br-t-l-20{
		border-radius: 20px 0px 0px 0px;
		-moz-border-radius: 20px 0px 0px 0px;
		-webkit-border-radius: 20px 0px 0px 0px;
	}
	.br-t-r-20{
		border-radius: 0px 20px 0px 0px;
		-moz-border-radius: 0px 20px 0px 0px;
		-webkit-border-radius: 0px 20px 0px 0px;
	}

	.br-b-l-20{
		border-radius: 20px 0px 0px 0px;
		-moz-border-radius: 20px 0px 0px 0px;
		-webkit-border-radius: 20px 0px 0px 0px;
	}

	.br-b-l-20{
		border-radius:  0px  0px 0px 20px;
		-moz-border-radius:  0px  0px 0px 20px;
		-webkit-border-radius:  0px  0px 0px 20px;
	}

	.br-b-r-20{
		border-radius:  0px 0px 20px 0px;
		-moz-border-radius:  0px 0px 20px 0px;
		-webkit-border-radius:  0px 0px 20px 0px;
	}


	/* 30PX */
	.br-t-l-30{
		border-radius: 30px 0px 0px 0px;
		-moz-border-radius: 30px 0px 0px 0px;
		-webkit-border-radius: 30px 0px 0px 0px;
	}
	.br-t-r-30{
		border-radius: 0px 30px 0px 0px;
		-moz-border-radius: 0px 30px 0px 0px;
		-webkit-border-radius: 0px 30px 0px 0px;
	}

	.br-b-l-30{
		border-radius: 30px 0px 0px 0px;
		-moz-border-radius: 30px 0px 0px 0px;
		-webkit-border-radius: 30px 0px 0px 0px;
	}

	.br-b-l-30{
		border-radius:  0px  0px 0px 30px;
		-moz-border-radius:  0px  0px 0px 30px;
		-webkit-border-radius:  0px  0px 0px 30px;
	}

	.br-b-r-30{
		border-radius:  0px 0px 30px 0px;
		-moz-border-radius:  0px 0px 30px 0px;
		-webkit-border-radius:  0px 0px 30px 0px;
	}




	/*---------------------------------------
		Padding
	---------------------------------------*/
	.p-5{
		padding: 5px;
	}

	.p-10{
		padding: 10px;
	}

	.p-15{
		padding: 15px;
	}

	.p-20{
		padding: 20px;
	}

	.p-25{
		padding: 25px;
	}

	.p-30{
		padding: 30px;
	}

	.p-35{
		padding: 35px;
	}

	.p-40{
		padding: 40px;
	}

	.p-45{
		padding: 45px;
	}

	.p-50{
		padding: 50px;
	}

	/*Padding Top*/

	.p-t-5{
		padding-top: 5px;
	}

	.p-t-10{
		padding-top: 10px;
	}

	.p-t-15{
		padding-top: 15px;
	}

	.p-t-20{
		padding-top: 20px;
	}

	.p-t-25{
		padding-top: 25px;
	}

	.p-t-30{
		padding-top: 30px;
	}

	.p-t-35{
		padding-top: 35px;
	}

	.p-t-40{
		padding-top: 40px;
	}

	.p-t-45{
		padding-top: 45px;
	}

	.p-t-50{
		padding-top: 50px;
	}

	/*Padding Bottom*/

	.p-b-5{
		padding-bottom: 5px;
	}

	.p-b-10{
		padding-bottom: 10px;
	}

	.p-b-15{
		padding-bottom: 15px;
	}

	.p-b-20{
		padding-bottom: 20px;
	}


	.p-b-25{
		padding-bottom: 25px;
	}

	.p-b-30{
		padding-bottom: 30px;
	}

	.p-b-35{
		padding-bottom: 35px;
	}

	.p-b-40{
		padding-bottom: 40px;
	}

	.p-b-45{
		padding-bottom: 45px;
	}

	.p-b-50{
		padding-bottom: 50px;
	}

	/*Padding Left*/

	.p-l-5{
		padding-left: 5px;
	}

	.p-l-10{
		padding-left: 10px;
	}

	.p-l-15{
		padding-left: 15px;
	}

	.p-l-20{
		padding-left: 20px;
	}


	.p-l-25{
		padding-left: 25px;
	}

	.p-l-30{
		padding-left: 30px;
	}

	.p-l-35{
		padding-left: 35px;
	}

	.p-l-40{
		padding-left: 40px;
	}

	.p-l-45{
		padding-left: 45px;
	}

	.p-l-50{
		padding-left: 50px;
	}


	/*Padding right*/

	.p-r-5{
		padding-right: 5px;
	}

	.p-r-10{
		padding-right: 10px;
	}

	.p-r-15{
		padding-right: 15px;
	}

	.p-r-20{
		padding-right: 20px;
	}


	.p-r-25{
		padding-right: 25px;
	}

	.p-r-30{
		padding-right: 30px;
	}

	.p-r-35{
		padding-right: 35px;
	}

	.p-r-40{
		padding-right: 40px;
	}

	.p-r-45{
		padding-right: 45px;
	}

	.p-r-50{
		padding-right: 50px;
	}


	/*---------------------------------------
		Margin
	---------------------------------------*/
	.m-5{
		margin: 5px;
	}

	.m-10{
		margin: 10px;
	}

	.m-15{
		margin: 15px;
	}

	.m-20{
		margin: 20px;
	}

	.m-25{
		margin: 25px;
	}

	.m-30{
		margin: 30px;
	}

	.m-35{
		margin: 35px;
	}

	.m-40{
		margin: 40px;
	}

	.m-45{
		margin: 45px;
	}

	.m-50{
		margin: 50px;
	}

	/*margin Top*/

	.m-t-5{
		margin-top: 5px;
	}

	.m-t-10{
		margin-top: 10px;
	}

	.m-t-15{
		margin-top: 15px;
	}

	.m-t-20{
		margin-top: 20px;
	}

	.m-t-25{
		margin-top: 25px;
	}

	.m-t-30{
		margin-top: 30px;
	}

	.m-t-35{
		margin-top: 35px;
	}

	.m-t-40{
		margin-top: 40px;
	}

	.m-t-45{
		margin-top: 45px;
	}

	.m-t-50{
		margin-top: 50px;
	}

	/*margin Bottom*/

	.m-b-5{
		margin-bottom: 5px;
	}

	.m-b-10{
		margin-bottom: 10px;
	}

	.m-b-15{
		margin-bottom: 15px;
	}

	.m-b-20{
		margin-bottom: 20px;
	}


	.m-b-25{
		margin-bottom: 25px;
	}

	.m-b-30{
		margin-bottom: 30px;
	}

	.m-b-35{
		margin-bottom: 35px;
	}

	.m-b-40{
		margin-bottom: 40px;
	}

	.m-b-45{
		margin-bottom: 45px;
	}

	.m-b-50{
		margin-bottom: 50px;
	}

	/*margin Left*/

	.m-l-5{
		margin-left: 5px;
	}

	.m-l-10{
		margin-left: 10px;
	}

	.m-l-15{
		margin-left: 15px;
	}

	.m-l-20{
		margin-left: 20px;
	}


	.m-l-25{
		margin-left: 25px;
	}

	.m-l-30{
		margin-left: 30px;
	}

	.m-l-35{
		margin-left: 35px;
	}

	.m-l-40{
		margin-left: 40px;
	}

	.m-l-45{
		margin-left: 45px;
	}

	.m-l-50{
		margin-left: 50px;
	}


	/*margin right*/

	.m-r-5{
		margin-right: 5px;
	}

	.m-r-10{
		margin-right: 10px;
	}

	.m-r-15{
		margin-right: 15px;
	}

	.m-r-20{
		margin-right: 20px;
	}


	.m-r-25{
		margin-right: 25px;
	}

	.m-r-30{
		margin-right: 30px;
	}

	.m-r-35{
		margin-right: 35px;
	}

	.m-r-40{
		margin-right: 40px;
	}

	.m-r-45{
		margin-right: 45px;
	}

	.m-r-50{
		margin-right: 50px;
	}

/* ==========================================================================
   Animaciones
   ========================================================================== */

	.blink {
	  animation: blink-animation 1s steps(5, start) infinite;
	  -webkit-animation: blink-animation 1s steps(5, start) infinite;
	}
	@keyframes blink-animation {
	  to {
	    visibility: hidden;
	  }
	}
	@-webkit-keyframes blink-animation {
	  to {
	    visibility: hidden;
	  }
	}
/* ==========================================================================
   botones de carrusel
   ========================================================================== */
	.owl-dots{
		text-align: center;
	}
	.owl-dot{
			width: 44px;
			height: 3px;
			background: #ababab;
			display: inline-block;
			margin:0 10px;

		}
	.owl-dot.active{
		background: #7f4dee;
	}
/* ==========================================================================
   Botones
   ========================================================================== */
	.btn-gris{
		background: #111;
	}
/* ==========================================================================
   Cabecera
   ========================================================================== */
	.is-sticky header{
		z-index: 9999!important;
	}


	header{

	}

	header nav {

	}

	header nav ul li{
		display: inline-block;
		padding-left: 45px;
	}

	header nav ul li.active a{
		border-bottom: 1px solid #fff;
		color: #345ea8;
	}

	header nav ul li a:hover{
		border-bottom: 1px solid #fff;
	}

	header nav ul li a::before{
		content:'<';
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		margin-top: 0;
	}

	header nav ul li a::after{
		content:'/>';
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		margin-top: 0;
	}


/* ==========================================================================
   Contenido
   ========================================================================== */
.contenidos{
	background: url('../img/bg-slide.jpg') no-repeat;
}

.somos-comunidad{
	background: #222;
}

.nuestras-redes{

}

/* ==========================================================================
   Paginas
   ========================================================================== */

	.page{
		background: white;
	}
	.page a{
		color:#345ea8;
		font-style: italic;
	}
	.page a:hover{
		color:#7f4dee;
	}
	.page img{
		max-width: 100%;
	}



/* ==========================================================================
   Pie
   ========================================================================== */

	footer .logo-footer{
		width: 100%;
	}




/* ==========================================================================
   Partners
   ========================================================================== */

.animate {
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.partners .common-partner figure {
	overflow: hidden;
	width: 100%;
	min-height: 260px;
	height: auto;
}

.partners img {
	width: 100%;
	height: auto;
}

.partners .common-partner h5 small {
	color: #008fd5;
	font-weight: bold;
	font-size: 0.8em;
	font-style: italic;
}

.partners .common-partner ul{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	opacity: 0;
	z-index: 1;
}

.partners .common-partner li a {
	background: #008fd5;
	color: white;
	padding: 0.75em;
	border: 5px solid rgba(255, 255, 255, 0.33);
}

.partner-img{
	 /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1); /* This is the scale for the normal size of the image.*/
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;

  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;

  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
}

.partner-item:hover .partner-img{
	 /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.2, 1.2); /* This is the enlarged size scale of the image.*/
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;

  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;

  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.20, 1.20);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;

  opacity: 0.7;
}

.partner-item:hover .social-lists{
	opacity: 1;
}

/************************************
		POST
*************************************/

.post{
	background: white;
}
.post a{
	color:#009cdc;
}
.post a:hover{
	color:#345ea8;
}
.post p{
	font-size: 1.1em;
	text-align: justify;
}
.post img{
	max-width: 100%;
}
/************************************
		PRENSA
*************************************/
.prensa{
	text-align: left;
	font-size: 1.5em;
	border-top: 4px solid #009CDC; 
	margin: 10px 5px 40px 5px;
	/*padding: 10px 20px410px 20px;*/
}

.prensa a{
	text-decoration: none;
	color: inherit;
	font-style: normal;
	font-family: inherit;
}

.prensa a:hover{
	color: inherit;
}

.prensa .img{
	height: 200px;
}

.prensa .img img{
	object-fit: cover;
	width: 100%;
  	height: 100%;
}


.prensa .titulo{
	color: #345EA8;
}
.prensa time{
	font-size: 0.8em;
	color: gray;
}

.prensa .bajada {
	font-size: 0.8em;
}

