---
layout: default
title: Código de Conducta
order: 2
permalink: /codigodeconducta/
---
<section class="contenidos prox-evento p-t-50 p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="info-evento text-center">
                    <h1 class="c-blanco f-80">
                        Código de Conducta<span class="blink">|</span>
                    </h1>
                    <hr class="divider-morado">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MANIFESTO -->
<section class="page p-t-50 p-b-50 text-justify">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- Texto -->
                
                <h2>1. Propósito</h2>

                <p>Uno de los objetivos principales de la Comunidad <b>IVDevs</b> es ser <b>inclusiva</b> para el mayor número de contribuyentes, con la mayor diversidad de orígenes posibles. Como tal, estamos comprometidos a <b>proporcionar un ambiente agradable, seguro y acogedor para todos, independientemente de su sexo, orientación sexual, capacidad, etnia, nivel socioeconómico, y religión (o falta de la misma).</b></p>

                <p>Este código de conducta resume nuestras expectativas para todos los que participan en nuestra comunidad, así como las consecuencias para el comportamiento inaceptable.</p>

                <p>Invitamos a todos los que participan en IVDevs a que nos ayuden a crear experiencias seguras y positivas para todos.</p>

                <h2>2. Ciudadanía de [Software / Cultura / Tecnología] Libre</h2>

                <p>Un objetivo adicional de este Código de Conducta es aumentar la ciudadanía de [software / cultura / tecnología] libre mediante el fomento de los participantes a reconocer y fortalecer las relaciones entre nuestras acciones y sus <b>efectos en nuestra comunidad.</b></p>

                <p>Las comunidades reflejan las sociedades en las que existen y la acción positiva es fundamental para contrarrestar las muchas formas de desigualdad y los abusos de poder que existen en la sociedad.

                <p>Si ves a alguien que está haciendo un esfuerzo adicional y significativo para asegurar que nuestra comunidad sea acogedora, amable, y esta persona alienta a todos los participantes a que contribuyan en la mayor medida, nos gustaría saber.</p>

                <h2>3. Comportamiento esperado</h2>

                <ol>
                    <li><b>Participa</b> de manera auténtica y activa. Al hacerlo, contribuyes a la salud y la longevidad de esta comunidad.</li>

                    <li>Ejercita la <b>consideración y el respeto</b> en tus comunicaciones y acciones.</li>

                    <li>Intenta <b>colaborar</b> en lugar de generar conflicto.</li>

                    <li><b>Absténte</b> de adoptar una conducta y un lenguaje degradantes, discriminatorios, abusivos o acosadores.</li>

                    <li><b>Sé consciente</b> de tu entorno y de tus compañeros participantes. Alerta a líderes de la comunidad si notas una situación peligrosa, alguien en apuros, o violaciones de este Código de Conducta, incluso si parecen intrascendentes.</li>
                </ol>

                <h2>4. Comportamiento inaceptable</h2>

                <p>Comportamientos inaceptables incluyen: <b>intimidación, acoso, abuso, discriminación, comunicación despectiva o degradante o acciones por cualquier participante en nuestra comunidad</b>, ya sea en internet o en todos los eventos relacionados Es posible que los lugares para eventos comunitarios sean de uso compartido con los miembros del público; por favor ser respetuoso con todos aquellos que los frecuentan.</p>

                <p>El <b>acoso incluye</b>: comentarios nocivos o perjudiciales, verbales o escritos relacionados con el género, la orientación sexual, raza, religión, discapacidad; uso inadecuado de desnudos y / o imágenes sexuales en espacios públicos (incluyendo la presentación diapositivas); intimidación deliberada, acecho o seguimiento; fotografías o grabaciones acosadoras; interrupción sostenida de charlas y otros eventos; contacto físico inapropiado, y atención sexual no deseada.</p>

                <h2>5. Consecuencias de comportamiento inaceptable</h2>

                <p>El comportamiento inaceptable de cualquier miembro de la comunidad, incluyendo patrocinadores y aquellos con poder de decisión, no será tolerado.</p>

                <p>Se espera que personas a quienes se les solicite que detengan su comportamiento inaceptable lo hagan de manera inmediata.</p>

                <p>Si un miembro de la comunidad participa en una conducta inaceptable, los organizadores pueden tomar cualquier acción que consideren apropiada, hasta incluyendo una prohibición temporal o expulsión permanente de la comunidad.</p>

                <h2>6. Si usted es testigo o es objeto de comportamiento inaceptable</h2>

                <p>Si eres víctima o testigo de una conducta inaceptable, o tienes cualquier inquietud, por favor comunícate con un organizador del meetup lo antes posible.</p>

                <p>Email: <a href="mailto:contacto@ivdevs.com"><b>contacto@ivdevs.com</b></a>

                <h2>7. Políticas de moderación</h2>

                <p>Estas son las políticas para mantener los estándares de conducta en nuestra comunidad en los canales de chat, meetups asociados, conferencias, grupos de estudio, y eventos virtuales.</p>

                <ol>
                <li> Palabras que violen las normas de Código de Conducta, incluyendo comentarios odiosos, hirientes, opresivos, o excluyentes, <b>no están permitidos.</b> (Se permite las "malas palabras", pero nunca enfocadas hacia otro usuario/asistente, y nunca de una manera odiosa.)</li>

                <li> Comentarios que los organizadores encuentran inapropiados tampoco están permitidos, así aparezcan en el código de conducta o no.</li>

                <li> Los organizadores primero deberán responder a dichos comentarios con una advertencia.</li>

                <li> Si la advertencia es ignorada, el usuario/asistente será expulsado del canal para que evalúe su comportamiento, o deberá retirarse del lugar por 30 minutos en caso de eventos presenciales.</li>

                <li> Si el participante/asistente regresa y continúa causando problemas, será expulsado del grupo/evento/lugar/Slack de forma indefinida.</li>

                <li> Los organizadores pueden retractar la expulsión a su discreción si esta se trata de una primera infracción y se ha ofrecido una disculpa sincera a quien ofendieron.</li>

                <li> Si un organizador expulsa a alguien y usted cree que fue una expulsión sin causa, contacte a ese organizador, o a un organizador diferente en privado.</li>

                <li> Los organizadores se rigen por un nivel más alto que otros miembros de la comunidad. Si un organizador crea una situación inadecuada, este será juzgado con un estándar más alto.</li>
                </ol>

                <p>En la comunidad IVDevs nos esforzamos por ir un paso más allá y cuidar el uno del otro. No se limite a tratar de mostrar su excelencia técnica, trate también de <b>ser la mejor persona posible.</b> </p>

                <p>En particular, evite tocar temas ofensivos o sensibles, especialmente si están fuera del tema tratado; esto muy a menudo conduce a peleas innecesarias, sentimientos heridos, y a daños en la confianza; peor aún, puede conducir a que personas se alejen de la comunidad en su totalidad.</p>

                <p>De la misma forma, si alguien está en desacuerdo con algo que usted dijo o hizo, resista el impulso de estar a la defensiva. Simplemente pare de hacer o decir lo que fuera que causó la queja y pida disculpas. Hay buenas probabilidades de que usted se pudo haber comunicado mejor, incluso si usted siente que fue malinterpretado o injustamente acusado, - recuerde que es su responsabilidad hacer que sus compañeras y compañeros de <b>IVDevs</b> estén cómodos.</p>

                <p>Todo el mundo busca armonía y todos estamos aquí, ante todo, porque queremos hablar de tecnologías que nos gustan. Por lo general, la gente está dispuesta a asumir buenas intenciones y perdonar, siempre y cuando usted gane su confianza y actúe de forma honrada.</p>

                <h2>8. Alcance</h2>

                <p>Esperamos que todos los participantes de la comunidad se atengan a este Código de Conducta en todos los espacios virtuales y presenciales pertinentes a la comunidad.</p>

                <h2>9. Contacto</h2>

                    <ol>
                        <li><b>contacto@ivdevs.com</b></li>
                        <li><b>@iv_devs</b></li>
                    </ol>

                <h2>10. Licencia y atribución</h2>

                <p>Este Código de Conducta se distribuye bajo una licencia <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons – ShareAlike (BY-SA)</a></p>

                <p>Adaptado del Código de Conducta de <a href="http://colombia-dev.org">colombia-dev.org</a></p>


            </div>
        </div>
    </div>
</section>
