---
layout: default
title: Comunidad
order: 2
permalink: /comunidad/
---
<section class="contenidos prox-evento p-t-50 p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="info-evento text-center">
                    <h1 class="c-blanco f-80">
                        QUIENES SOMOS <span class="blink">|</span>
                    </h1>
                    <hr class="divider-morado">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION COMUNIDAD-->
<section class="comunidad">
    <div class="container">
        <div class="row text-center">
            <h2 class="tags  c-blanco p-t-50 f-30">
                Somos la primera comunidad de programadores de la IV Región de Coquimbo - IVDevs
            </h2>
            <h4 class="c-blanco f-20 tags">Siguenos en</h4>
            <ul class="m-b-20">
                <li class="d-inline nuestras-redes p-l-10 p-r-10">
                    <a class="f-20 c-blanco" href="https://www.facebook.com/groups/programadores.iv.region.chile/"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="d-inline nuestras-redes p-l-10 p-r-10">
                    <a class="f-20 c-blanco" href="http://joinslack.ivdevs.com"><i class="fa fa-slack"></i></a>
                </li>
                <li class="d-inline nuestras-redes p-l-10 p-r-10">
                    <a class="f-20 c-blanco" href="https://twitter.com/iv_devs"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="d-inline nuestras-redes p-l-10 p-r-10">
                    <a class="f-20 c-blanco" href="https://github.com/iv-devs"><i class="fa fa-github"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="somos-comunidad">
        <div class="container">
            <div class="row sin-paddin m-t-30 m-b-30">
                <div class="col-md-7 br-t-l-2 br-b-l-2 somos bg-blanco">
                    <img class="p-20" src="/img/root.png">
                    <div class="p-30">
                        <h3 class="tags c-negro"> LA COMUNIDAD</h3>
                        <p class="text-justify">
                            Este grupo nace para los programadores, de todo tipo, que sean residentes de la IV región de Chile. La idea de crear este grupo, es para poder conocernos, generar lazos, juntar y compartir experiencias con la comunidad de desarrolladores de la IV región.<span class="blink">|</span>
                        </p>
                    </div>
                    <div class="text-right p-10">
                        <img src="/img/logo-rayas.png">
                    </div>
                </div>
                <div class="col-md-5 sin galeria">
                    <img class="img-responsive" src="/img/barra-browser.png" alt="">
                    <div class="galeria-img">
                        <img class="img-responsive" src="/img/galeria-1.jpg" alt="">
                        <img class="img-responsive" src="/img/galeria-2.jpg" alt="">
                        <img class="img-responsive" src="/img/galeria-3.jpg" alt="">
                        <img class="img-responsive" src="/img/galeria-4.jpg" alt="">
                        <img class="img-responsive" src="/img/galeria-5.jpg" alt="">
                        <img class="img-responsive" src="/img/galeria-6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MANIFESTO -->
<section class="page p-t-50 p-b-50 text-justify">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- Texto -->
                <h2 class="text-center">Manifiesto</h2>
                <p><strong>Como miembro de la Comunidad</strong></p>
                <p> Todos quienes forman parte de esta Comunidad creen firmemente que en el interior de cada persona existe un <code>potencial inigualable</code> para crear y afectar positivamente a las personas que nos rodea, más aún cuando esa capacidad de crear se suma a la de otros, comprendiendo asi que <code>el todo es más que la suma de las partes</code> … Por lo anterior en IV Devs:

                    <ol>
                        <li><strong>Somos Respetuosos:</strong> Entendemos que en una comunidad existen diversas opiniones y puntos de vista y por ello siempre las aceptamos con respeto.</li>

                        <li><strong>Tenemos Buena Fe:</strong> Las contribuciones de los demás miembros, son tan importantes como las nuestras y tienen tan buena intención como las nuestras.</li>

                        <li><strong>Somos Colaboradores:</strong> Siempre hay algo que aprender en cada nueva aventura, por ello, siempre  estamos dispuesto a colaborar con los demás en sus proyectos.</li>

                        <li><strong>Somos Abiertos:</strong> No hay nada que ocultar, si tenemos dificultades o problemas, pedimos ayuda.</li>

                        <li><strong>Compartimos y Disfrutamos:</strong> Disfrutamos cada línea de <code> < código ></code> porque sabemos que puede cambiar el mundo.</li>

                        <li><strong>Somos Inquietos y Motivados:</strong> Por hacer mejor las cosas, por romper el ciclo, ser disruptivos, enérgicos, críticos del entorno pero <strong>siempre</strong>  siendo motivadores del cambio.</li>


                    </ol>
                </p>

                <p><strong>Nuestro Compromiso como Comunidad</strong></p>
                <p>
                    <ol>
                        <li><strong>Permanecer abierta:</strong> Asi como el conocimiento es libre, nuestro trabajo, nuestra experiencia y los resultados siempre estaran a disposición de la comunidad.</li>

                        <li><strong>Contribuir al desarrollo profesional de sus miembros:</strong> y de esta forma ser un aporte al desarrollo del capital humano regional.</li>

                        <li><strong>No ocultaremos los problemas:</strong> Cuando existan, los resolveremos entre todos. </li>

                        <li><strong>Somos Inclusivos:</strong> Creemos firmemente que son aquellas diferencias las que nos permiten ser una <code> comunidad única </code> </li>
                    </ol>
                </p>

                <p><strong>Cuando nos comunicamos...</strong></p>
                <p>
                    <ol>
                        <li><strong>Mantenemos  la cortesía y el respeto</strong> hacia todos los miembros de la comunidad.</li>

                        <li><strong>Evitamos las discusiones sin sentido:</strong> el debate está bien pero discusiones acaloradas y sin sentido no. La comunidad plantea y propone espacios de discusión siempre que estos sean un aporte al crecimiento profesional de todos los participantes.</li>

                        <li><strong>Siempre respondemos:</strong> A veces tarde, pero siempre lo hacemos.</li>

                        <li><strong>Ideas claras y concisas :</strong> Nos esforzamos por ser claros, sin pretender parecer expertos.</li>

                        <li><strong>Nunca lo tomamos personal:</strong> Las diferencias y opiniones existen y seguiran existiendo, esto no es impedimento para continuar compartiendo como comunidad, sin tomarnos las opiniones de los demás de forma personal.</li>

                        <li><strong>No hacemos spam:</strong> Jamás!</li>

                    </ol>
                </p>

                <p><strong>Cuando exponemos...</strong></p>
                <p>
                    <ol>
                        <li><strong>Preparamos el tema </strong> entendiendo que los participantes esperan recibir lo mejor de nuestra experiencia profesional.</li>

                        <li><strong>Objetivos e imparciales</strong> siempre desde un enfoque profesional pretendemos transmitir conocimiento y experiencia sin hacer campaña o evangelizar respecto a temas especificos.</li>
                    </ol>
                </p>

                <p><strong>Cuando participamos de los eventos...</strong></p>
                <p>
                    <ol>
                        <li><strong>Respetamos al expositor</strong> entendiendo y reconociendo el tiempo y esfuerzo dedicado.</li>

                        <li><strong>Participamos activamente</strong> involucrandonos y haciéndonos parte de la actividad.</li>
                    </ol>
                </p>

            </div>
        </div>
    </div>
</section>
