---
layout: default
title: Eventos
order: 3
permalink: /evento/
---
<section class="contenidos prox-evento p-t-50 p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="info-evento text-center">
                    <h1 class="c-blanco f-80">
                        NUESTROS EVENTOS
                        <span class="blink">
                            |
                        </span>
                    </h1>
                    <hr class="divider-morado">
                    </hr>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION COMUNIDAD-->
<section class="comunidad">
    <div class="container">
        <div class="row text-center">
            <h2 class="tags c-blanco p-t-30 p-b-30 f-30">
                eventos class="old"
            </h2>
        </div>
    </div>
    <div class="bg-blanco">
        <div class="container">
            <div class="row text-center m-t-30 m-b-30">
                <div class="p-t-30 p-b-30 o-hidden">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="https://www.meetup.com/es-ES/IV-DEVS/events/237739910/" target="_blank">
                                <img alt="Meetup SOLID" class="img-responsive" src="http://photos2.meetupstatic.com/photos/event/e/6/1/c/600_458375466.jpeg"/>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="https://www.meetup.com/es-ES/IV-DEVS/events/237340262/" target="_blank">
                                <img alt="Meetup the crossover" class="img-responsive" src="http://photos2.meetupstatic.com/photos/event/e/6/1/c/600_457973030.jpeg"/>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="https://www.meetup.com/es-ES/IV-DEVS/events/235932226/" target="_blank">
                                <img alt="Docker y Microservicios" class="img-responsive" src="http://photos2.meetupstatic.com/photos/event/e/6/1/c/600_456513006.jpeg"/>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="https://www.meetup.com/es-ES/IV-DEVS/events/236025606/" target="_blank">
                                <img alt="Mercado Informático Actual y Futuro de la IV Región" class="img-responsive" src="http://photos2.meetupstatic.com/photos/event/e/6/1/c/600_456577953.jpeg"/>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="https://www.meetup.com/es-ES/IV-DEVS/events/235428458/" target="_blank">
                                <img alt="Robotica aplicada en placas arduino" class="img-responsive" src="http://photos2.meetupstatic.com/photos/event/e/6/1/c/600_455892489.jpeg"/>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="https://www.meetup.com/es-ES/IV-DEVS/events/234849056/" target="_blank">
                                <img alt="Meetup IVDevs Octubre" class="img-responsive" src="https://scontent.fgru3-2.fna.fbcdn.net/v/t1.0-9/14670869_10210526843867063_4906879127677887967_n.jpg?oh=e838a09f08ee3c97cb94fd7b6df4d6c0&oe=593A0354"/>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="https://www.meetup.com/es-ES/IV-DEVS/events/234441264/" target="_blank">
                                <img alt="Workshop de Django" class="img-responsive" src="http://photos2.meetupstatic.com/photos/event/e/6/1/c/600_454566245.jpeg"/>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="http://www.meetup.com/es-ES/IV-DEVS/events/232368634/" target="_blank">
                                <img alt="Patrones diseño JS" class="img-responsive" src="http://photos2.meetupstatic.com/photos/event/e/6/1/c/600_451798908.jpeg"/>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="http://www.meetup.com/es-ES/IV-DEVS/events/232052013/" target="_blank">
                                <img alt="JS" class="img-responsive" src="http://photos3.meetupstatic.com/photos/event/6/f/a/5/600_451348581.jpeg"/>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="http://www.meetup.com/es-ES/IV-DEVS/events/231747266/" target="_blank">
                                <img alt="Por las ramas de GIT" class="img-responsive" src="http://photos3.meetupstatic.com/photos/event/a/a/f/8/600_450883768.jpeg"/>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="http://www.meetup.com/es-ES/IV-DEVS/events/231370025/" target="_blank">
                                <img alt="Meetup CloudComputing" class="img-responsive" src="http://photos1.meetupstatic.com/photos/event/d/a/6/9/600_450355913.jpeg"/>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="http://www.meetup.com/es-ES/IV-DEVS/events/231032952/" target="_blank">
                                <img alt="Meetup RRSS" class="img-responsive" src="http://photos2.meetupstatic.com/photos/event/b/a/5/c/600_449867708.jpeg"/>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="http://www.meetup.com/es-ES/IV-DEVS/events/230550883/" target="_blank">
                                <img alt="Workshop Laravel" class="img-responsive" src="http://photos2.meetupstatic.com/photos/event/e/5/c/8/600_449158824.jpeg"/>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="http://www.meetup.com/es-ES/IV-DEVS/events/229973518/" target="_blank">
                                <img alt="Workshop PHP" class="img-responsive" src="http://photos1.meetupstatic.com/photos/event/d/7/2/4/600_448375076.jpeg"/>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="http://www.meetup.com/es-ES/IV-DEVS/events/229537587/" target="_blank">
                                <img alt="Meetup Redes Sociales" class="img-responsive" src="http://photos1.meetupstatic.com/photos/event/c/7/2/e/600_447830990.jpeg"/>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="http://www.meetup.com/es-ES/IV-DEVS/events/229075009/" target="_blank">
                                <img alt="Workshop SafeScaleRails" class="img-responsive" src="http://photos4.meetupstatic.com/photos/event/e/9/8/3/600_447179779.jpeg"/>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="http://www.meetup.com/es-ES/IV-DEVS/events/228735025/" target="_blank">
                                <img alt="Workshop Ionic" class="img-responsive" src="http://photos2.meetupstatic.com/photos/event/4/4/0/4/600_446717412.jpeg"/>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <a class="p-b-10 d-block" href="http://www.meetup.com/es-ES/IV-DEVS/events/228035967/" target="_blank">
                                <img alt="Workshop Unity" class="img-responsive" src="http://photos3.meetupstatic.com/photos/event/7/1/e/a/600_446129162.jpeg"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
