---
layout: default
title: Inicio
order: 1
---
    <!-- EVENTO -->
    <section class="contenidos prox-evento p-t-50 p-b-50">
        <div class="container">
        <!-- ANUNCIO MEETUP -->
        <!--
            <div class="row">
                <div class="col-md-12">
                    <div class="info-evento">
                        <h3 class="c-blanco">MEETUP</h3>
                        <h1 class="c-blanco f-60">
                            Principios SOLID<span class="blink">|</span>
                        </h1>
                        <hr class="divider-morado">
                        <div class="info-fecha p-t-20">
                            <ul class="c-blanco">
                                <li class="f-25 p-b-10"><i class="p-r-15 fa fa-calendar"></i> Sábado 18 de Febrero del 2017</li>
                                <li class="f-25 p-b-10"><i class="p-r-15 fa fa-clock-o"></i> 15:00 <small>hrs.</small></li>
                                <li class="f-25 p-b-10"><i class="p-r-15 fa fa-map-marker"></i> “La Brújula Cowork”
                                    <br>
                                    <small class="p-l-40 f-15">
                                        Juan Cisternas 1960, La Serena
                                    </small>
                                </li>
                            </ul>
                        </div>
                        <div class="info-descripcion-evento">

                            <p class="text-justify b-5 c-blanco p-25 m-t-20 bg-morado">

                              <b>Sebastian Diaz</b>, <i>Ing en Informática</i> son mostrara lo que representan estos cinco principios básicos de la programación orientada a objetos aplicada al diseño de software.

                            </p>

                        </div>
                        <div class="text-left">
                           <a class="btn btn-gris p-15 tags" href="http://www.meetup.com/es-ES/IV-DEVS/events/237340262/"> ASISTIR A ESTE EVENTO</a>
                        </div>
                    </div>
                </div>                
            </div>
        -->     
        <!-- FIN ANUNCIO MEETUP -->

        <!-- HOME -->
        
            <div class="row">
                <div class="col-md-6">
                    <h1 class="c-blanco f-30">Quiénes Somos</h1>
                    <hr class="divider-morado">
                    <p class="text-justify b-5 c-blanco p-25 m-t-20 bg-morado">
                        Una comunidad de amigos apasionados por la tecnología e informática, que busca compartir conocimiento de forma libre y sin fines de lucro, con el fin de fortalecer a los miembros de la comunidad para generar un impacto positivo en la región. 
                    </p>
                </div>
                <div class="col-md-6">
                    <h1 class="c-blanco f-30">Que Buscamos</h1>
                    <hr class="divider-morado">
                    <p class="text-justify b-5 c-blanco p-25 m-t-20 bg-morado">
                        - Compartir conocimientos y experiencias profesionales.<br>
                        - Generar redes de contacto. <br>
                        - Generar un impacto positivo en la región.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h1 class="c-blanco f-30">Como lo hacemos</h1>
                    <hr class="divider-morado">
                    <p class="text-justify b-5 c-blanco p-25 m-t-20 bg-morado">
                        - Organizando meetups, workshops mensuales<br>
                        - Cursos abiertos en Universidades<br>
                        - Haciendo comunidad en las RRSS,Slack,Blog,Github <br>
                        - Apoyando las actividades de otras comunidades
                    </p>
                </div>
                <div class="col-md-6">
                    <h1 class="c-blanco f-30">Como Aportar</h1>
                    <hr class="divider-morado">
                    <p class="text-justify b-5 c-blanco p-25 m-t-20 bg-morado">
                        - Participando de las activides<br>
                        - Compartiendo lo que sabes<br>
                        - Apoyando nuevas actividades <br>
                        - Invitando a mas personas a participar
                    </p>
                </div>                
            </div>
        
        <!-- FIN HOME -->
        </div>
    </section>

    <!-- SECTION COMUNIDAD-->
    <section class="comunidad">
        <div class="container">
            <div class="row text-center">
                <h2 class="tags  c-blanco p-t-50 f-50">
                    Comunidad
                </h2>
                <h4 class="c-blanco f-20 tags">Siguenos en</h4>
                <ul class="m-b-20">
                    <li class="d-inline nuestras-redes p-l-10 p-r-10">
                        <a class="f-20 c-blanco" href="https://www.facebook.com/groups/programadores.iv.region.chile/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="d-inline nuestras-redes p-l-10 p-r-10">
                        <a class="f-20 c-blanco" href="http://joinslack.ivdevs.com"><i class="fa fa-slack"></i></a>
                    </li>
                    <li class="d-inline nuestras-redes p-l-10 p-r-10">
                        <a class="f-20 c-blanco" href="https://twitter.com/iv_devs"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="d-inline nuestras-redes p-l-10 p-r-10">
                        <a class="f-20 c-blanco" href="https://github.com/iv-devs"><i class="fa fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="somos-comunidad">
            <div class="container">
                <div class="row sin-paddin m-t-30 m-b-30">
                    <div class="col-md-7 br-l-t-b-r-2 somos bg-blanco">
                        <img class="p-20" src="img/root.png">
                        <div class="p-30">
                            <h3 class="tags c-negro"> LA COMUNIDAD</h3>
                            <p class="text-justify">
                                Este grupo nace para los programadores, de todo tipo, que sean residentes de la IV región de Chile. La idea de crear este grupo, es para poder conocernos, generar lazos, juntar y compartir experiencias con la comunidad de desarrolladores de la IV región.<span class="blink">|</span>
                            </p>
                        </div>
                        <div class="text-right p-10">
                            <img src="img/logo-rayas.png">
                        </div>
                    </div>
                    <div class="col-md-5 sin galeria">
                        <img class="img-responsive" src="img/barra-browser.png" alt="">
                        <div class="galeria-img">
                            <img class="img-responsive" src="img/galeria-1.jpg" alt="">
                            <img class="img-responsive" src="img/galeria-2.jpg" alt="">
                            <img class="img-responsive" src="img/galeria-3.jpg" alt="">
                            <img class="img-responsive" src="img/galeria-4.jpg" alt="">
                            <img class="img-responsive" src="img/galeria-5.jpg" alt="">
                            <img class="img-responsive" src="img/galeria-6.jpg" alt="">
                            <img class="img-responsive" src="img/galeria-7.jpg" alt="">
                            <img class="img-responsive" src="img/galeria-8.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECTION PARTNERS-->
    <section class="partners">
        <div class="container">
            <div class="row">
                <h2 class="tags text-center c-blanco p-50 f-50">
                    Nuestros Partners
                </h2>
            </div>
        </div>
        <div class="bg-azul-oscuro">
            <div class="container">
                <div class="row p-t-50 p-b-50">
                    <!-- #700 (banned)
                    <div class="col-lg-3 col-md-3 col-sm-6  text-center partner-item">
                        <div class="common-partner animated clearfix">
                            <ul class="list-inline social-lists animate">
                                <li><a href="https://www.instagram.com/hashtag700/"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="http://hashtag700.com/index.php/slack/"><i class="fa fa-slack"></i></a></li>
                                <li><a href="https://www.twitter.com/hashtag700"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/hashtag700.com"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                            <figure>
                                <img width="670" height="500" src="img/logo700.png" class="partner-img animate" alt="partner-2">
                            </figure>
                            <div class="text-content">
                                <h5 class="c-blanco">hashtag 700</h5>
                                <h5><small>Comunidad</small></h5>
                            </div>
                        </div>
                    </div>
                    -->
                    <!-- Programadores e Informaticos CL -->
                    <div class="col-lg-3 col-md-3 col-sm-6  text-center partner-item">
                        <div class="common-partner animated clearfix">
                            <ul class="list-inline social-lists animate">
                                <li><a href="https://www.instagram.com/proin_chile"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="http://slack.programadores.cl/"><i class="fa fa-slack"></i></a></li>
                                <li><a href="https://www.twitter.com/proin_chile"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/groups/ProgramadoresCL/"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                            <figure>
                                <img width="670" height="500" src="img/proin.png" class="partner-img animate" alt="partner-2">
                            </figure>
                            <div class="text-content">
                                <h5 class="c-blanco">Programadores e Informáticos Chile</h5>
                                <h5><small>Comunidad</small></h5>
                            </div>
                        </div>
                    </div>
                    <!-- NodersCL -->
                    <div class="col-lg-3 col-md-3 col-sm-6  text-center partner-item">
                        <div class="common-partner animated clearfix">
                            <ul class="list-inline social-lists animate">
                                <li><a href="https://fforres.typeform.com/to/z2Rj7z"><i class="fa fa-slack"></i></a></li>
                                <li><a href="https://twitter.com/NodersCL"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/NodersCL/"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                            <figure>
                                <img width="670" height="500" src="img/noder.png" class="partner-img animate" alt="partner-2">
                            </figure>
                            <div class="text-content">
                                <h5 class="c-blanco">NodersCL</h5>
                                <h5><small>Comunidad</small></h5>
                            </div>
                        </div>
                    </div>
                    <!-- La Brujula -->
                    <div class="col-lg-3 col-md-3 col-sm-6  text-center partner-item">
                        <div class="common-partner animated clearfix">
                            <ul class="list-inline social-lists animate">
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/labrujulacowork"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://twitter.com/LaBrujulaCowork"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/labrujulacowork"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                            <figure>
                                <img width="670" height="500" src="img/labrujula.png" class="partner-img animate" alt="partner-2">
                            </figure>
                            <div class="text-content">
                                <h5 class="c-blanco">La Brújula</h5>
                                <h5><small>Cowork</small></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
