---
layout: default
title: En la Prensa
order: 5
permalink: /prensa/
---
<section class="contenidos prox-evento p-t-50 p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="info-evento text-center">
                    <h1 class="c-blanco f-80">IV Devs en la Prensa <span class="blink">|</span> </h1>
                    <hr class="divider-morado">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION COMUNIDAD-->
<section class="comunidad">
    <div class="container">
        <div class="row text-center">
            <h2 class="tags  c-blanco p-t-50 f-30">
                Somos la primera comunidad de programadores de la IV Región de Coquimbo - IVDevs
            </h2>
            <h4 class="c-blanco f-20 tags">Siguenos en</h4>
            <ul class="m-b-20">
                <li class="d-inline nuestras-redes p-l-10 p-r-10">
                    <a class="f-20 c-blanco" href="https://www.facebook.com/groups/programadores.iv.region.chile/"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="d-inline nuestras-redes p-l-10 p-r-10">
                    <a class="f-20 c-blanco" href="http://joinslack.ivdevs.com"><i class="fa fa-slack"></i></a>
                </li>
                <li class="d-inline nuestras-redes p-l-10 p-r-10">
                    <a class="f-20 c-blanco" href="https://twitter.com/iv_devs"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="d-inline nuestras-redes p-l-10 p-r-10">
                    <a class="f-20 c-blanco" href="https://github.com/iv-devs"><i class="fa fa-github"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- MANIFESTO -->

<section class="page p-t-50 p-b-50 text-justify">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <!-- Texto -->
                <h2 class="text-center">Comunidad</h2>
                <p>A lo largo del camino que estamos recorriendo juntos, hemos sido nombrados, comentados en algún sitio distinto al nuestro. esta sección recopila esas notas de prensa en las cuales <code>IV Devs</code> ha sido nombrado</p>
            <!--
                <ul class="f-15">
                    <li><code><time datatime="2016-12-17">17-12-2016</time>:</code> 
                    <b>Nota santotomas.cl</b>
                    <a href="http://enlinea.santotomas.cl/actualidad-institucional/mundo-santo-ctomas/alumnos-analista-programador-participaron-curso-basico-git/37491/" target="_blank">Curso de git a Analistas Programadores del Santo Tomás de Ovalle</a></li>
                    
                    <li><code><time datetime="2016-08-15">15-08-2016</time>:</code> <a href="/assets/docs/eldia_pag14.pdf" target="_blank">Nota [diarioeldia.cl] - Exitosa maratón tecnológica en La Serena puso el foco en la innovación</a></li>

                    <li><code><time datetime="2016-08-10 17:08:01">10-08-2016</time>:</code> <a href="http://www.elobservatodo.cl/noticia/emprendimiento-regional/hackaton-pretende-reunir-mas-de-100-personas-en-la-serena-0" target="_blank">Nota [elobservatodo.cl] - Hackatón pretende reunir a más de 100 personas en La Serena</a></li>

                    <li><code><time datetime="2016-08-08T09:11:01-04:00">08-08-2016</time>:</code> <a href="http://innovacionchilena.cl/hackaton-pretende-reunir-mas-100-personas-la-serena/" target="_blank">Nota [innovacionchilena.cl] - Hackatón pretende reunir a más de 100 personas en La Serena</a></li>

                    <li><code><time datetime="2016-08-08">08-08-2016</time>:</code> <a href="/assets/audio/Entrevista_Duenos_De_La_Tarde.m4a" target="_blank">Nota [Radio Montecarlo] - Los Dueños de la tarde</a></li>

                    <li><code><time datetime="2016-05-21">21-05-2016</time>:</code> <a href="http://www.guillermodiaz.com/2016/05/la-region-de-gabriela-mistral/" target="_blank">Blog - La región de Gabriela Mistral</a></li>
                </ul>
            -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">                
                <div class="prensa">
                <a href="http://enlinea.santotomas.cl/actualidad-institucional/mundo-santo-ctomas/alumnos-analista-programador-participaron-curso-basico-git/37491/">
                    <div class="img">
                        <img src="../img/prensa/17-12-2016.jpg">
                    </div>
                    <time datetime="17-12-2016">17-12-2016</time>
                    <div class="titulo">
                        <b><i>UNIVERSIDAD SANTO TOMAS / </i></b>Curso de git a Analistas Programadores del Santo Tomás de Ovalle                 
                    </div>
                    <div class="bajada">                        
                        El pasado sábado 17 de diciembre se desarrolló en el IP-CFT Santo Tomás Ovalle, el curso de GIT, el sistema de control de versiones más utilizado en la actualidad
                    </div>
                </a>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="prensa">
                <a href="/assets/docs/eldia_pag14.pdf">
                    <div class="img">
                        <img class="imgin" src="../img/prensa/15-08-2016.jpg">
                    </div>
                    <time datetime="2016-08-15">15-08-2016</time>
                    <div class="titulo">
                        <b><i>DIARIO EL DIA / </i></b>Exitosa maratón tecnológica en La Serena puso el foco en la innovación                
                    </div>
                    <div class="bajada">                        
                        Un centenar de personas participó en Challenge 2.0, iniciativa desarrollada por IV Devs, La Brújula Cowork, Corfo y Universidad Santo Tomás, que tenía por finalidad potenciar el trabajo de programadores de la Región.
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="prensa">
                <a href="http://www.elobservatodo.cl/noticia/emprendimiento-regional/hackaton-pretende-reunir-mas-de-100-personas-en-la-serena-0">
                    <div class="img">
                        <img src="../img/prensa/10-08-2016.jpg">
                    </div>
                    <time datetime="10-08-2016">10-08-2016</time>
                    <div class="titulo">
                        <b><i>EL OBSERVATODO / </i></b>Hackatón pretende reunir a más de 100 personas en La Serena                
                    </div>
                    <div class="bajada">                        
                        Challenge 2.0 es el nombre de la maratón que reunirá a programadores con el objetivo de trabajar colaborativamente en soluciones tecnológicas.
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="prensa">
                <a href="http://innovacionchilena.cl/hackaton-pretende-reunir-mas-100-personas-la-serena/">
                    <div class="img">
                        <img src="../img/prensa/08-08-2016.jpg">
                    </div>
                    <time datetime="08-08-2016">08-08-2016</time>
                    <div class="titulo">
                        <b><i>INNOVACIONCHILENA.CL / </i></b> Hackatón pretende reunir a más de 100 personas en La                  
                    </div>
                    <div class="bajada">                        
                        24 horas para resolver problemáticas regionales a través de tecnología es el desafío de la primera Hackatón organizada en la ciudad de La Serena que buscará convocar a más de 100 personas. 
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="prensa">
                <a href="/assets/audio/Entrevista_Duenos_De_La_Tarde.m4a">
                    <div class="img">
                        <img src="../img/prensa/08-08-2016_2.jpg">
                    </div>
                    <time datetime="08-08-2016">08-08-2016</time>
                    <div class="titulo">
                        <b><i>RADIO MONTECARLOS / </i></b> Los Dueños de la tarde        
                    </div>
                    <div class="bajada">                        
                        Challenge 2.0 es el nombre de la maratón que reunirá a programadores con el objetivo de trabajar colaborativamente en soluciones tecnológicas.
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="prensa">
                <a href="http://www.guillermodiaz.com/2016/05/la-region-de-gabriela-mistral/">
                    <div class="img">
                        <img src="../img/prensa/21-05-2016.jpg">
                    </div>
                    <time datetime="21-05-2016">21-05-2016</time>
                    <div class="titulo">
                        <b><i>GUILLERMODIAZ.COM / </i></b> Post - La región de Gabriela Mistral           
                    </div>
                    <div class="bajada">                        
                        Tuve la posibilidad de compartir con la comunidad IV Devs, quienes probablemente son el pilar más importante de este gran desarrollo, cuya labor será generar, consolidar y retener el talento de la región.
                    </div>
                </a>
                </div>
            </div>
            
            
        </div>
    </div>
</section>