<footer class="bg-gris p-t-50 p-b-20">
  <div class="container">
    <div class="row text-center">
    
    <div class="col-md-2 m-t-20">
      <img class="logo-footer" src="/img/logo.png">
    </div>

    <div class="col-md-2 m-t-20 f-15 c-blanco">
      <a href="mailto:{{ site.email }}"><!-- <i class="fa fa-envelope"></i> --> {{ site.email }}</a>
    </div>

    <div class="col-md-2 m-t-20">
      <a href="#" class="f-15"> <i class="fa fa-facebook fa-2x"></i> Facebook</a>
    </div>

    <div class="col-md-2 m-t-20">
      <a href="http://joinslack.ivdevs.com" class="f-15"> <i class="fa fa-slack fa-2x"></i>   Slack</a>
    </div>

    <div class="col-md-2 m-t-20">
      <a href="https://github.com/{{ site.github_username }}" class="f-15"> <i class="fa fa-github fa-2x"></i>   Github</a>
    </div>

    <div class="col-md-2 m-t-20">
      <a href="https://twitter.com/{{ site.twitter_username }}" class="f-15"> <i class="fa fa-twitter fa-2x"></i>   Twitter</a>
    </div>


      
<!-- 
    <div class="col-md-4">
      <a class="twitter-timeline" href="https://twitter.com/{{ site.twitter_username }}" data-widget-id="735704066873917443">Tweets por el @{{ site.twitter_username }}.</a>
      <script>
        ! function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
          p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + "://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, "script", "twitter-wjs");
      </script>
    </div>
     -->
  </div>
  <div class="row">
    <div class="col-md-12 text-center m-t-20">
      <p class="f-15 c-blanco">
      © IV Devs 2016 - Design <a href="https://www.twitter.com/{{ site.design_username }}">@{{ site.design_username }}</a>
      </p>
    </div>
  </div>
</div>
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/main.js"></script>
{% if site.analytics %}
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function(b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l;
    b[l] || (b[l] =
      function() {
        (b[l].q = b[l].q || []).push(arguments)
      });
    b[l].l = +new Date;
    e = o.createElement(i);
    r = o.getElementsByTagName(i)[0];
    e.src = 'http://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', '{{ site.analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
